html {
	height: 100%;
}
body {
	height: 100%;
	margin: 1px;
	padding: 1px;
	overflow-y: hidden;
	font-family: "微软雅黑";
	font-size:12px;
}
input{
	font-size: 12px;
	height: 16px;
	width: 150px;
	padding: 4px 0px;
}
a {
	text-decoration: none;
}
#myform {
	background-color: #DFE9F6;
	top: 30%;
	position: absolute;
	margin-left: 25%;
	border: 1px solid #99BCE8;
	border-radius: 4px;
	padding: 4px;
	height: 292px;
	width: 642px;
}
#myform-body{
	padding: 40px;
	height: 181px;
	width: 560px;
}
#fieldset{
	height: 185px;
	width: 540px;
	padding: 10px;
	background-color: #DFE9F6;
}
#fieldset-body{
	height: 162px;
	width: 540px;
}
table{
	margin-left: 60px;
	margin-top: 10px;
}
td{
	height: 20px;
}
#oldpassflow{
	color: #FF0000;
	display: none;
}
#newpassverify{
	float: left;
}
#newpassflow{
	color:#a5a6aa;
	float:right;
}
#confirmpassflow{
	color: #FF0000;
	display: none;
}

#tool-bar{
	margin-left: 281px;
}
#save{
	width: 68px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}
#reset{
	width: 80px;
}
#forgetpass{
	cursor: pointer;
	color: #005EA7;
}
